@import url(font.css);
@import url(form.css);

*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #000;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #FFF;
    text-decoration: none;
}

main {
    display: flex;
    height: 660px;
}

main .left-banner {
    width: 38%;
}

main .left-banner img.back-img {
    width: 100%;
    height: 100%;
}

main .left-banner img.top-img {
    width: 380px;
    position: absolute;
    left: 4%;
    top: 35%;
}

main .right-banner {
    width: 62%;
    padding: 30px;
}

main .right-banner .top img {
    width: 41px;
}

main .right-banner h1 {
    margin-top: 69px;
    font-size: 62px;
}

main .right-banner h2 {
    margin-top: 44px;
}

main .right-banner .separator {
    margin: auto;
    font-weight: lighter;
}

main .right-banner .btn-connect button.btn-register {
    border: 1px solid rgb(110, 158, 248);
    background: rgb(110, 158, 248);
    border-radius: 50px;
    padding: 10px 112px;
    margin-bottom: 8px;
    font-weight: 600;
    color: #FFF;
    font-size: 15px;
    cursor: pointer;
}

button.btn-register:hover {
    background: rgb(49, 121, 255);
}

main .right-banner .btn-connect button.btn-login {
    border: 1px solid rgb(110, 158, 248);
    border-radius: 50px;
    padding: 10px 94px;
    margin-top: 8px;
    font-weight: 600;
    background-color: transparent;
    color: #FFF;
    cursor: pointer;
    font-size: 15px;
    cursor: pointer;
}

button.btn-login:hover {
    background: #FFF;
}

main .right-banner .btn-connect {
    margin-top: 20px;
    display: inline-grid;
}
